*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D19C6A;
    color: white;
}
.App{
    overflow-y: hidden;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    background-color: #102F38;
    border-radius: 30px;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    text-align: center;
}
.form input, .form button{
    height: 50px;
}
.form{
    width: 90%;
    margin: auto;
}
.form input{
    width: 70%;
    border-radius: 7px;
}
.form button{
    width: 25%;
    margin-left: 20px;
    font-size: 21px;
    background-color: #D19C6A;
    border-radius: 7px;
    cursor: pointer;
}
.text li{
    color: white;
    width: 60%;
    list-style: none;
}
.text{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border: 1px solid #587983;
}
.text i{
font-size: 40px;
color: red;
}
input[type='checkbox']{
    height: 30px;
    width: 30px;
    margin-top: 10px;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
@media only screen and (max-width: 1024px){
.App{
    height: 30rem;
    width: 37%;
}
.form input{
    width: 65%;
}
.form button{
    padding: 6px;
    width: 27%;
}
}
@media only screen and (max-width: 540px){
.App{
    width:90%;
}
.form input{
    width: 100%;
}
.form button{
    width: 40%;
    margin-top: 10px;
}
}