body{
    background-color: orange;
    color: white;
}
.App{
    width: 27%;
    margin: auto;
    height: 47rem;
    background-color: black;
    border-radius: 30px;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    text-align: center;
}
.form input, .form button{
    height: 50px;
}
.form{
    width: 90%;
    margin: auto;
}
.form input{
    width: 70%;
}
.form button{
    width: 20%;
    margin-left: 20px;
}
.text li{
    background-color: aliceblue;
    width: 60%;
    list-style: none;
}
.text{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.text i{
font-size: 40px;
color: red;
}
input[type='checkbox']{
    height: 40px;
    width: 40px;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}